:root {
  /* colors */
  --surface: white;
  --on-surface: black;
  --primary: black;
  --on-primary: white;
  --primary-container: rgba(0, 0, 0, 0.2);
  --on-primary-container: black;
  --secondary: black;
  --on-secondary: white;

 /* SPACING */
  --s0: 0;
  --s1: .25rem;
  --s2: .5rem;
  --s3: 1rem;
  --s4: 2rem;
  --s5: 4rem;
  --s6: 8rem;
  --s7: 16rem;

  /* FONT SIZE */
  --f1: 3rem;
  --f2: 2.25rem;
  --f3: 1.5rem;
  --f4: 1.25rem;
  --f5: 1rem;
  --f6: .875rem;
  --f7: .75rem; /* Small and hard to read for many people */
  --f-headline: 6rem;
  --f-subheadline: 5rem;
  --ff-headline: baloo-2;
  --ff-subheadline: sn-pro;

  /* FONT WEIGHT */
  --fw-bold: bold;
  --fw-normal: normal;
  --fw1: 100;
  --fw2: 200;
  --fw3: 300;
  --fw4: 400;
  --fw5: 500;
  --fw6: 600;
  --fw7: 700;
  --fw8: 800;
  --fw9: 900;

  /* LINE HEIGHT */
  --lh-solid: 1;
  --lh-title: 1.25;
  --lh-copy: 1.5;

  /* BORDER RADIUS */
  --br0: 0;
  --br1: .125rem;
  --br2: .25rem;
  --br3: .5rem;
  --br4: 1rem;
  --br-100: 100%;
  --br-pill: 9999px;

  /* BORDER WIDTH */
  --bw0: 0;
  --bw1: .125rem;
  --bw2: .25rem;
  --bw3: .5rem;
  --bw4: 1rem;
  --bw5: 2rem;
}
.bg-black {
  background-color: black;
}
.bg-white {
  background-color: white;
}
.black {
  color: black;
}
.white {
  color: white;
}
